<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
@font-face {
  font-family: 'Shabnam';
  src: url('./fonts/Shabnam-Medium.woff2') format('woff2'),
    url('./fonts/Shabnam-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

    body{
      background-color: #003743;
      font-family: 'Shabnam';
      padding: 24px;
    }
    div{
      direction: rtl;
      width: 90%;
      text-align: center;
      background: #9FB4B8;
      margin: 20px auto 0 auto;
      padding: 15px;
      border-radius: 12px;
      max-width: 800px;
    }
    a{
      width: max-content;
      background-color: #2563EB;
      padding:10px 20px;
      border-radius: 6px;
      text-decoration: none;
      color: white;
      margin: 1rem 0;
    }
    a:hover{
      background-color: #1d50c0;
    }
    .flex{
      display: flex;
      flex-direction: column;
      gap: .7rem;
      align-items: center;
    }
    img{
      margin: 32px auto;
      width: 60%;
      max-width: 450px;
    }
  </style>
</head>
<body class="flex">
  <div><h1>سامانه پایش ایمیل ویرا</h1></div>
  <div class="flex">
    <h2>فعالسازی حساب کاربری</h2>
    
    <p>درخواست شما جهت ایجاد حساب کاربری در سامانه پایش وبسایت ویرا ثبت شده‌است. <br> جهت فعال سازی حساب کاربری خود روی دکمه زیر کلیک کنید:</p>
    <a href="<%=link%>" target="_blank">تایید ایمیل</a>
  </div>
  <img src="../img/apa.png" >


  
</body>
</html>