<html>
  <head>
    <style>
      .redColor { color: red; }
    </style>
  </head>
  <body dir='rtl'>
    <p>{{name}} عزیز test</p>
    <p>لطفا برای تایید ایمیل خود روی لینک زیر کلیک کنید</p>
    <a href='{{link}}'>تایید ایمیل</a>
  </body>
</html>